name: CI for Lint project
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  linter:
    runs-on: ubuntu-latest
    name: Run Lint
    steps:
      - uses: actions/checkout@v2
        name: Check out repository
      - uses: actions/setup-node@v1
        name: Set up Node.js
        with:
          node-version: 12
      - name: Install dependencies
        run: npm ci
      - name: Run Lint
        run: npm run lint